<div style="margin-left: 16px; padding-left: 16px; background-color: beige">
  <h1>List of Products</h1>
  <hr />
  <div *ngFor="let product of products">
    <hr />
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
      >
        {{ product.name }}
      </a>
    </h3>
    <p *ngIf="product.description">
      <strong>Description:</strong> <em> {{ product.description }}</em>
    </p>

    <button type="button" (click)="share()">Share</button>
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
    <br />
  </div>
  <br />
</div>
